{% extends "core/dashboard/base.html" %} 
{% load static %}
{% block main %}
<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            BRANCH LAN DOWN REMARKS
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-xl px-4 mt-n10">
        <div class="row">
            <div class="col-lg-12">
                <!-- Default Bootstrap Form Controls-->
                <div id="default">
                    <div class="card mb-4">
                        <div class="card-header">Update Down Remarks</div>
                        <div class="card-body">
                            <!-- Component Preview-->
                            <div class="sbp-preview">
                                <div class="sbp-preview-content">
                                    <form action="{% url "branch_down_status_edit" monitoring.id %}" method="POST">
                                         {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-4 mb-4">
                                                <label class="form-label">Branch</label>
                                                <input class="form-control" type="text" name="branch" value="{{ monitoring.branch }}" readonly />
                                            </div>
                                            
                                            <div class="col-md-4 mb-4">
                                                <label class="form-label">Status</label>
                                                <input class="form-control" type="text" name="status" value="{{ monitoring.status }}" readonly />
                                            </div>
                                            
                                            <div class="col-md-4 mb-4">
                                                <label class="form-label">Down Time</label>
                                                <input class="form-control" type="text" name="down_time" value="{{ monitoring.down_time }}" readonly />
                                            </div>
                                            
                                            <div class="col-md-4 mb-4">
                                                <label class="form-label">Up Time</label>
                                                <input class="form-control" type="text" name="up_time" value="{{ monitoring.up_time }}" readonly />
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label class="form-label">Remarks<b class="text-danger"> *</b></label>
                                                <select class="form-select" id="remarks" name="remarks">
                                                    <option value="">Select Branch</option>
                                                    <option value="Link Issue">Link Issue</option>
                                                    <option value="Power Issue">Power Issue</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 mb-4" id="HideRemarks" >
                                                <label class="form-label">Other Remarks<b class="text-danger"> *</b></label>
                                                <input class="form-control " type="text"  id="other_remarks" name="other_remarks" placeholder="Enter Remarks" />
                                            </div>
                                        </div>                                        
                                        <div class="form-group text-center">
                                            <hr class="sidebar-divider">
                                            <button class="btn btn-secondary"  type="submit">Update</button>
                                            <a href="{% url "branch_lan_monitoring" %}" class="btn btn-secondary submit_anchor">Back</a>
                                            <hr class="sidebar-divider">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function() {
        $('#HideRemarks').hide();
        $('#remarks').change(function() {
            if ($(this).val() === 'Other') {
                $('#HideRemarks').show(); 
            } else {
                $('#HideRemarks').hide();  
            }
        });
    });
</script>
{% endblock main %}