{% extends "core/dashboard/base.html" %} 
{% load static %}
{% block main %}
<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="file"></i></div>
                            MAC BINDING REQUEST
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4">
        <div class="card">
            <div class="card-header">Create Mac Binding Request</div>
            <div class="card-body">
                <form method="POST" action="{% url "mac_binding_request" %}">
                    {% csrf_token %}
                    <div class="row p-3">
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Branch<b class="text-danger"> *</b></label>
                            <select class="form-select {% if form.branch_id.errors %}is-invalid{% endif %}" id="branch_id" name="branch">
                                <option value="">Select Branch</option>
                                {% for branch in branch_choices %}
                                    <option value="{{ branch.branch_id }}" {% if form.cleaned_data.branch_id == branch.branch_id %}selected{% endif %}>{{ branch.branch_name }}</option>
                                {% endfor %}
                            </select>
                            {% if form.branch_id.errors %}
                                <span class="text-danger">
                                    {% for error in form.branch_id.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Switch<b class="text-danger"> *</b></label>
                            <select class="form-select" id="device_select" name="device">
                                <option value="">Select Switch</option>
                                <!-- Options will be populated here by AJAX -->
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <hr class="sidebar-divider">
                            <button class="btn btn-secondary" type="submit">Submit</button>
                            <a href="{% url "dashboard" %}" class="btn btn-danger submit_anchor">Back</a>
                            <hr class="sidebar-divider">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
(function($) {
    $(document).ready(function() {
        $('.form-select').select2({
            placeholder: "Select an option",
        });
    });
})(jQuery);
</script>
<script>
(function($) {
    $(document).ready(function() {
        $('#branch_id').change(function() {
            const branchId = $('#branch_id').val();
            $.ajax({
                url: '/dashboard/switch/branch/',
                type: 'GET',
                data: {
                    'branch_id': branchId
                },
                success: function(response) {
                    if (response.device_switch) {
                        $('#device_select').empty();
                        $('#device_select').append('<option value="">Select Switch</option>');
                        response.device_switch.forEach(function(device) {
                            $('#device_select').append(
                                `<option value="${device.id}">${device.name} - ${device.ip_address}</option>`
                            );
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX Error:', status, error);
                }
            });
        });
    });
})(jQuery);
</script>
{% endblock main %}