{% extends "core/dashboard/base.html" %} 
{% load static %}
{% block main %}
<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="file"></i></div>
                            MAC TROUBLESHOOT
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4">
        <div class="card">
            <div class="card-header">Create Mac Troubleshot Request</div>
            <div class="card-body">
                <form method="POST" action="{% url "mac_binding_request" %}">
                    {% csrf_token %}
                    <div class="row p-3">
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Branch<b class="text-danger"> *</b></label>
                            <select class="form-control {% if form.branch_id.errors %}is-invalid{% endif %}" id="branch_id" name="branch">
                                <option value="">Select Branch</option>
                                {% for branch in branch_choices %}
                                    <option value="{{ branch.branch_id }}" {% if form.cleaned_data.branch_id == branch.branch_id %}selected{% endif %}>{{ branch.branch_name }}</option>
                                {% endfor %}
                            </select>
                            {% if form.branch_id.errors %}
                                <span class="text-danger">
                                    {% for error in form.branch_id.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-4 mb-4" id="ipAddressContainer">
                            <label class="form-label">IP Address</label>
                            <label class="form-label"><b class="text-danger"> *</b></label>
                            <input class="form-control" type="text" id="ipAddress" name="ip_address" placeholder="Enter IP Address"  />
                        </div>
                        <div class="col-md-4 mb-4" id="macAddressContainer">
                            <label class="form-label">MAC Address</label>
                            <label class="form-label"><b class="text-danger"> *</b></label>
                            <input class="form-control" type="text" id="mac_address" name="mac_address" placeholder="Enter MAC Address"  />
                        </div>
                        <div class="form-group text-center">
                            <hr class="sidebar-divider">
                            <button class="btn btn-secondary" type="submit">Submit</button>
                            <a href="{% url "dashboard" %}" class="btn btn-danger submit_anchor">Back</a>
                            <hr class="sidebar-divider">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock main %}