{% extends "core/dashboard/base.html" %} 
{% load static %}
{% block main %}
<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="file"></i></div>
                            NEW BRANCH SETUP
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mb-5">
        <div class="card">
            <div class="card-header">Setup New Branch Switch</div>
            <div class="card-body">
                <form method="POST" action="{% url "new_branch_setup_switch" %}">
                    {% csrf_token %}
                    <div class="row p-3">
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Branch Name<b class="text-danger"> *</b></label>
                            <input class="form-control {% if form.branch_name.errors %}is-invalid{% endif %}" type="text" id="branch_name" name="branch_name" placeholder="Enter branch name" value="{{ form.cleaned_data.branch_name }}" />
                            {% if form.branch_name.errors %}
                                <span class="text-danger">
                                    {% for error in form.branch_name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Branch Code<b class="text-danger"> *</b></label>
                            <input class="form-control {% if form.branch_id.errors %}is-invalid{% endif %}" type="text"  id="branch_id" name="branch_id" placeholder="Enter branch id" value="{{ form.cleaned_data.branch_id }}" />
                            {% if form.branch_id.errors %}
                                <span class="text-danger">
                                    {% for error in form.branch_id.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>

                        <div class="col-md-4 mb-4">
                            <label class="form-label">Hostname<b class="text-danger"> *</b></label>
                            <input class="form-control {% if form.hostname.errors %}is-invalid{% endif %}" type="text" id="hostname" name="hostname" placeholder="Enter hostname" value="{{ form.cleaned_data.hostname }}" />
                            {% if form.hostname.errors %}
                                <span class="text-danger">
                                    {% for error in form.hostname.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Username<b class="text-danger"> *</b></label>
                            <input class="form-control {% if form.username.errors %}is-invalid{% endif %}" type="text" id="username" name="username" placeholder="Enter username" value="{{ form.cleaned_data.username }}" />
                            {% if form.username.errors %}
                                <span class="text-danger">
                                    {% for error in form.username.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Password <b class="text-danger">*</b></label>
                            <div class="input-group">
                                <input class="form-control {% if form.password.errors %}is-invalid{% endif %}" 
                                       type="password" 
                                       id="password" 
                                       placeholder="Enter Password"
                                       name="password" />
                                {% if form.password.errors %}
                                    <span class="text-danger">
                                        {% for error in form.password.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                                <button type="button" class="btn btn-outline-primary" id="toggle-password">
                                    <i class="fa fa-eye" id="toggle-password-icon"></i>
                                </button>
                            </div>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label class="form-label">Enable Password <b class="text-danger">*</b></label>
                            <div class="input-group">
                                <input class="form-control {% if form.enable_password.errors %}is-invalid{% endif %}" 
                                       type="password" 
                                       id="enable_password"
                                       placeholder="Enter Enable Password" 
                                       name="enable_password" />
                                {% if form.enable_password.errors %}
                                    <span class="text-danger">
                                        {% for error in form.enable_password.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                                <button type="button" class="btn btn-outline-primary" id="toggle-enable-password">
                                    <i class="fa fa-eye" id="toggle-enable-password-icon"></i>
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-4 mb-4">
                            <label class="form-label">VLAN IP<b class="text-danger"> *</b></label>
                            <select class="form-control" id="vlan_ip" name="vlan_ip[]" multiple>
                                <option value="">Select Vlan</option>
                                <option value="VLAN10">VLAN10</option>
                                <option value="VLAN20">VLAN20</option>
                                <option value="VLAN30">VLAN30</option>
                            </select>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="box-body small">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dynamic_field">  
                                            <thead>
                                                <tr>
                                                    <th scope="col">WLAN Type</th>
                                                    <th scope="col">WLAN IP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <td>
                                                    <select class="form-select" id="wlan_type0" name="wlan_type[]">
                                                        <option value="">Select Wlan Type</option>
                                                        <option value="Primary">Primary</option>
                                                        <option value="Secondary">Secondary</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-select" id="wlan_ip0" name="wlan_ip[]" multiple>
                                                        <option value="">Select Wlan</option>
                                                        <option value="Subisu">Subisu</option>
                                                        <option value="WLink">WLink</option>
                                                        <option value=">Websurfer Fiber">Websurfer Fiber</option>
                                                        <option value="Websurfer Wireless">Websurfer Wireless</option>
                                                        <option value="NTC">NTC</option>
                                                    </select>
                                                </td>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="14" class="action-buttons">
                                                        <button type="button" name="add" id="add" class="btn btn-info"><i class="fa-solid fa-circle-plus"></i></button>
                                                        <button type="button" name="remove" id="remove" class="btn btn-danger"><i class="fa-solid fa-circle-minus"></i></button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="col-md-4 mb-4">
                            <label class="form-label">Wlan Type<b class="text-danger"> *</b></label>
                            <select class="form-control" id="wlan_type" name="wlan_type">
                                <option value="">Select Wlan Type</option>
                                <option value="VLAN10">Primary</option>
                                <option value="VLAN20">Secondary</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Wlan IP<b class="text-danger"> *</b></label>
                            <select class="form-control" id="wlan_ip" name="wlan_ip" multiple>
                                <option value="">Select Wlan</option>
                                <option value="Subisu">Subisu</option>
                                <option value="WLink">WLink</option>
                                <option value=">Websurfer Fiber">Websurfer Fiber</option>
                                <option value="Websurfer Wireless">Websurfer Wireless</option>
                                <option value="NTC">NTC</option>
                            </select>
                        </div> {% endcomment %}
                        <div class="form-group text-center">
                            <hr class="sidebar-divider">
                            <button class="btn btn-secondary" type="submit">Submit</button>
                            <a href="{% url "dashboard" %}" class="btn btn-danger submit_anchor">Back</a>
                            <hr class="sidebar-divider">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    function togglePasswordVisibility(fieldId, iconId) {
        const passwordField = document.getElementById(fieldId);
        const toggleIcon = document.getElementById(iconId);
        const isPassword = passwordField.getAttribute('type') === 'password';
        passwordField.setAttribute('type', isPassword ? 'text' : 'password');
        toggleIcon.classList.toggle('fa-eye');
        toggleIcon.classList.toggle('fa-eye-slash');
    }

    document.getElementById('toggle-password').addEventListener('click', function() {
        togglePasswordVisibility('password', 'toggle-password-icon');
    });

    document.getElementById('toggle-enable-password').addEventListener('click', function() {
        togglePasswordVisibility('enable_password', 'toggle-enable-password-icon');
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
    $('.form-select').select2();

    function getRowIndex() {
        // Get the index of the last row
        let lastRow = $('#dynamic_field tbody tr:last');
        if (lastRow.length) {
            return parseInt(lastRow.find('.form-select').attr('id').match(/\d+$/)[0]) + 1;
        }
        return 0; // Default index if no rows exist
    }
    $('#add').click(function() {
        const newIndex = getRowIndex(); // Get the next index for the new row
        var newRow = `<tr class="dynamic-row">
                        <td>
                            <select name="wlan_type[]" id="wlan_type${newIndex}" class="form-select name_list" required>
                                <option value="">Select Wlan Type</option>
                                <option value="Primary">Primary</option>
                                <option value="Secondary">Secondary</option>
                            </select>
                        </td>
                        <td><select name="wlan_ip[]" id="wlan_ip${newIndex}" class="form-select name_list" required multiple>
                                <option value="">Select Wlan IP</option>
                                <option value="Subisu">Subisu</option>
                                <option value="WLink">WLink</option>
                                <option value=">Websurfer Fiber">Websurfer Fiber</option>
                                <option value="Websurfer Wireless">Websurfer Wireless</option>
                                <option value="NTC">NTC</option>
                            </select></td>
                      </tr>`;
        $('#dynamic_field tbody').append(newRow);
        $('.form-select').select2(); 
    });

    $('#remove').click(function() {
        if ($('#dynamic_field tbody .dynamic-row').length > 0) {
            $('#dynamic_field tbody .dynamic-row:last').remove();
        }
    });
});
</script>
{% endblock main %}