{% extends "core/dashboard/base.html" %} 
{% load static %}
{% block main %}
<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="file"></i></div>
                            NEW BRANCH SETUP
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mb-5">
        <div class="card">
            <div class="card-header">Setup New Branch Router</div>
            <div class="card-body">
                <form method="POST" action="{% url "new_branch_setup_router" %}">
                    {% csrf_token %}
                    <div class="row p-3">
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Branch Name<b class="text-danger"> *</b></label>
                            <input class="form-control {% if form.branch_name.errors %}is-invalid{% endif %}" type="text" id="branch_name" name="branch_name" placeholder="Enter branch name" value="{{ form.cleaned_data.branch_name }}" />
                            {% if form.branch_name.errors %}
                                <span class="text-danger">
                                    {% for error in form.branch_name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Branch Code<b class="text-danger"> *</b></label>
                            <input class="form-control {% if form.branch_id.errors %}is-invalid{% endif %}" type="text"  id="branch_id" name="branch_id" placeholder="Enter branch id" value="{{ form.cleaned_data.branch_id }}" />
                            {% if form.branch_id.errors %}
                                <span class="text-danger">
                                    {% for error in form.branch_id.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>

                        <div class="col-md-4 mb-4">
                            <label class="form-label">Hostname<b class="text-danger"> *</b></label>
                            <input class="form-control {% if form.hostname.errors %}is-invalid{% endif %}" type="text" id="hostname" name="hostname" placeholder="Enter hostname" value="{{ form.cleaned_data.hostname }}" />
                            {% if form.hostname.errors %}
                                <span class="text-danger">
                                    {% for error in form.hostname.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        {% comment %} <div class="col-md-4 mb-4">
                            <label class="form-label">Username<b class="text-danger"> *</b></label>
                            <input class="form-control {% if form.username.errors %}is-invalid{% endif %}" type="text" id="username" name="username" placeholder="Enter username" value="{{ form.cleaned_data.username }}" />
                            {% if form.username.errors %}
                                <span class="text-danger">
                                    {% for error in form.username.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Password <b class="text-danger">*</b></label>
                            <div class="input-group">
                                <input class="form-control {% if form.password.errors %}is-invalid{% endif %}" 
                                       type="password" 
                                       id="password" 
                                       placeholder="Enter Password"
                                       value="{{ form.cleaned_data.password }}"
                                       name="password" />
                                <button type="button" class="btn btn-outline-primary" id="toggle-password">
                                    <i class="fa fa-eye" id="toggle-password-icon"></i>
                                </button>
                            </div>
                            {% if form.password.errors %}
                                <span class="text-danger">
                                    {% for error in form.password.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div> {% endcomment %}
                        <hr>
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="box-body small">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dynamic_field">  
                                            <thead>
                                                <tr>
                                                    <th scope="col">WLAN Type</th>
                                                    <th scope="col">WLAN IP</th>
                                                    <th scope="col">IP/SUBNET</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input class="form-control {% if form.wlan_type_primary.errors %}is-invalid{% endif %}" 
                                                            type="text" 
                                                            id="wlan_type_primary" 
                                                            value="Primary"
                                                            name="wlan_type_primary" readonly />
                                                    </td>
                                                    <td>
                                                        <select class="form-control {% if form.wlan_ip_primary.errors %}is-invalid{% endif %}" id="wlan_ip_primary" name="wlan_ip_primary">
                                                            <option value="">Select Primary WLAN</option>
                                                            <option value="Subisu" {% if form.wlan_ip_primary.value == "Subisu" %}selected{% endif %}>Subisu</option>
                                                            <option value="WLink" {% if form.wlan_ip_primary.value == "WLink" %}selected{% endif %}>WLink</option>
                                                            <option value="Websurfer Fiber" {% if form.wlan_ip_primary.value == "Websurfer Fiber" %}selected{% endif %}>Websurfer Fiber</option>
                                                            <option value="Websurfer Wireless" {% if form.wlan_ip_primary.value == "Websurfer Wireless" %}selected{% endif %}>Websurfer Wireless</option>
                                                        </select>
                                                        {% if form.wlan_ip_primary.errors %}
                                                            <span class="text-danger">
                                                                {% for error in form.wlan_ip_primary.errors %}
                                                                    {{ error }}
                                                                {% endfor %}
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                    <td></td>
                                                <tr>
                                                <tr>
                                                    <td>
                                                        <input class="form-control {% if form.wlan_type_secondary.errors %}is-invalid{% endif %}" 
                                                            type="text" 
                                                            id="wlan_type_secondary" 
                                                            value="Secondary"
                                                            name="wlan_type_secondary" readonly />
                                                    </td>
                                                    <td>
                                                        <select class="form-control {% if form.wlan_ip_secondary.errors %}is-invalid{% endif %}" id="wlan_ip_secondary" name="wlan_ip_secondary">
                                                            <option value="">Select Secondary WLAN</option>
                                                            <option value="Subisu" {% if form.wlan_ip_secondary.value == "Subisu" %}selected{% endif %}>Subisu</option>
                                                            <option value="WLink" {% if form.wlan_ip_secondary.value == "WLink" %}selected{% endif %}>WLink</option>
                                                            <option value="Websurfer Fiber" {% if form.wlan_ip_secondary.value == "Websurfer Fiber" %}selected{% endif %}>Websurfer Fiber</option>
                                                            <option value="Websurfer Wireless" {% if form.wlan_ip_secondary.value == "Websurfer Wireless" %}selected{% endif %}>Websurfer Wireless</option>
                                                            <option value="NTC" {% if form.wlan_ip_secondary.value == "NTC" %}selected{% endif %}>NTC</option>
                                                        </select>
                                                        {% if form.wlan_ip_secondary.errors %}
                                                            <span class="text-danger">
                                                                {% for error in form.wlan_ip_secondary.errors %}
                                                                    {{ error }}
                                                                {% endfor %}
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <input class="form-control {% if form.wlan_type_ip_subnet.errors %}is-invalid{% endif %}" 
                                                            type="text" 
                                                            id="wlan_type_ip_subnet" 
                                                            placeholder="Enter IP and Subnet"
                                                            name="wlan_type_ip_subnet" readonly />
                                                        <p id="result" style="color: green;"></p>
                                                    </td>
                                                <tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <hr class="sidebar-divider">
                            <button class="btn btn-secondary" type="submit">Submit</button>
                            <a href="{% url "dashboard" %}" class="btn btn-danger submit_anchor">Back</a>
                            <hr class="sidebar-divider">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
(function() {
    $(document).ready(function () {
        $("#wlan_type_ip_subnet").on('change', function () {
            const ipPattern = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\s(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
    
            const ipAddresses = $(this).val();
            if (ipPattern.test(ipAddresses)) {
                $("#result").text("Valid IP Addresses.").css("color", "green"); 
            } else {
                $("#result").text("Invalid IP Addresses. Please enter two valid IP addresses separated by a space.").css("color", "red"); // Set color to red for invalid input
            }
        });
    });
})();
</script>
{% comment %} <script>
    function togglePasswordVisibility(fieldId, iconId) {
        const passwordField = document.getElementById(fieldId);
        const toggleIcon = document.getElementById(iconId);
        const isPassword = passwordField.getAttribute('type') === 'password';
        passwordField.setAttribute('type', isPassword ? 'text' : 'password');
        toggleIcon.classList.toggle('fa-eye');
        toggleIcon.classList.toggle('fa-eye-slash');
    }

    document.getElementById('toggle-password').addEventListener('click', function() {
        togglePasswordVisibility('password', 'toggle-password-icon');
    });
</script> {% endcomment %}
<script>
(function() {
    $(document).ready(function() {
        $('#wlan_ip_secondary').change(function() {
            if ($(this).val() === 'NTC') {
                $('#wlan_type_ip_subnet').removeAttr('readonly');
            } else {
                $('#wlan_type_ip_subnet').attr('readonly', true);
            }
        });
    });
})();
</script>
{% endblock main %}