{% extends "core/dashboard/base.html" %} 
{% load static %}
{% block main %}
<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="file"></i></div>
                            ACL CHANGE REQUEST
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4">
        <div class="card">
            <div class="card-header">Create ACL Change Request</div>
            <div class="card-body">
                <form method="POST" action="{% url "change_acl_request" %}">
                    {% csrf_token %}
                    <div class="row p-3">
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Branch<b class="text-danger">*</b></label>
                            <select class="form-select" id="branch_id" name="branch_id" placeholder="Select Branch">
                                <option value="">Select Branch</option>
                                <option value="ALL">All Branch</option>
                                <option value="EXT">ALL Extension</option>
                                <option value="CUST">Select Device</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3" id="HideDevices">
                            <label class="form-label">Devices<b class="text-danger">*</b></label><br>
                            <select class="form-select" id="device_id" name="device_id[]" multiple placeholder="Select Device">
                                <option value="" disabled>Select Device</option>
                                {% for device in devices %}
                                    <option value="{{ device.id }}" >{{ device.device_type }}-{{ device.sol_id }}-{{ device.ip_address }} </option>
                                {% endfor %}
                            </select>
                        </div>     
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Access List<b class="text-danger"> *</b></label>
                            <select class="form-select" id="access_list" name="access_list">
                                <option value="" disabled selected>Select Access Type</option>
                                {% for type in access_list_choices %}
                                    <option value="{{ type }}" {% if form.cleaned_data.device_type == type %}selected{% endif %}>{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 mb-4">
                            <label class="form-label">Permit/Deny<b class="text-danger"> *</b></label>
                            <select class="form-select" id="permit_deny" name="permit_deny">
                                <option value="" disabled selected>Select an option</option>
                                <option value="permit">Permit</option>
                                <option value="deny">Deny</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="box-body small">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dynamic_field">  
                                            <thead>
                                                <tr>
                                                    <th scope="col">Host/Network</th>
                                                    <th scope="col">IP Address/Network Address</th>
                                                    <th scope="col">Index</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="empty-row">
                                                    <td>
                                                        <select class="form-control" id="host_network0" name="host_network[]" required>
                                                            <option value="" disabled selected>Select an option</option>
                                                            <option value="Host">Host</option>
                                                            <option value="Network">Network</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="ip_address[]" id="ip_address0" placeholder="Ip or Network Address" class="form-control name_list" required/>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="index[]" id="index0" placeholder="Enter index" class="form-control name_list" required/>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="14" class="action-buttons">
                                                        <button type="button" name="add" id="add" class="btn btn-info"><i class="fa-solid fa-circle-plus"></i></button>
                                                        <button type="button" name="remove" id="remove" class="btn btn-danger"><i class="fa-solid fa-circle-minus"></i></button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <hr class="sidebar-divider">
                            <button class="btn btn-secondary" type="submit">Submit</button>
                            <a href="{% url "dashboard" %}" class="btn btn-danger submit_anchor">Back</a>
                            <hr class="sidebar-divider">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
(function() {
    $(document).ready(function() {
        var hostNetwork = $('#hostNetwork').val();
        if (!hostNetwork || hostNetwork === '') {
            $('#ipAddressContainer').hide();
            $('#networkAddressContainer').hide();
        } else if (hostNetwork === 'Host') {
            $('#ipAddressContainer').show();
        } else {
            $('#networkAddressContainer').show();
        }

        $('#hostNetwork').change(function() {
            var selectedValue = $(this).val();
            
            $('#networkAddressContainer').hide();
            $('#ipAddressContainer').hide();
            
            if (selectedValue === 'Host') {
                $('#ipAddressContainer').show();
            } else if (selectedValue === 'Network') {
                $('#networkAddressContainer').show();
            }
        });
    });
    $(document).ready(function() {
        var branch_id = $('#branch_id').val();
    
        if (!branch_id || branch_id === '') {
            $('#HideDevices').hide();
        } else if (hostNetwork === 'CUST') {
            $('#HideDevices').show();
        } else {
            $('#HideDevices').hide();
        }

        $('#branch_id').change(function() {
            var selectedValue = $(this).val();
            
            $('#HideDevices').hide();
            
            if (selectedValue === 'CUST') {
                $('#HideDevices').show();
            } else {
                $('#HideDevices').hide();
            }
        });
    });
})();
</script>
<script type="text/javascript">
(function() {
    $(document).ready(function() {
        $('.form-select').select2();

        function getRowIndex() {
            let lastRow = $('#dynamic_field tbody tr:last');
            if (lastRow.length) {
                return parseInt(lastRow.find('.form-control').attr('id').match(/\d+$/)[0]) + 1;
            }
            return 0; 
        }
        $('#add').click(function() {
            const newIndex = getRowIndex(); 
            var newRow = `<tr class="dynamic-row">
                            <td>
                                <select name="host_network[]" id="host_network${newIndex}" class="form-control name_list" required>
                                    <option value="">Select option</option>
                                    <option value="Host">Host</option>
                                    <option value="Network">Network</option>
                                </select>
                            </td>
                            <td><input type="text" name="ip_address[]" id="ip_address${newIndex}" placeholder="Ip or Network Address" class="form-control name_list" required/></td>
                            <td><input type="text" name="index[]" id="index${newIndex}" placeholder="Enter index" class="form-control name_list" required/></td>
                        </tr>`;
            $('#dynamic_field tbody').append(newRow);
            $('.form-select').select2(); 
        });

        $('#remove').click(function() {
            if ($('#dynamic_field tbody .dynamic-row').length > 0) {
                $('#dynamic_field tbody .dynamic-row:last').remove();
            }
        });
    });
})();
</script>
{% endblock main %}