{% load static %}
<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{% url 'login' %}" class="login100-form validate-form">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Admin Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <div class="form-group position-relative">
                        <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="username" name="username" placeholder="Username" value="" autocomplete="off" >
                        <i class="fas fa-user form-control-icon"></i>
                        {% if form.username.errors %}
                            <span class="text-danger">
                                {% for error in form.username.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                    <div class="form-group position-relative">
                        <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="password" name="password" placeholder="Password">
                        <i class="fas fa-lock form-control-icon"></i>
                        {% if form.password.errors %}
                            <span class="text-danger">
                                {% for error in form.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        {% if login_failed %}
            $('#loginModal').modal('show');
        {% endif %}
    });
</script>