{% load static %}
<!-- Sticky Navbar -->
<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url "login" %}">
            <img src="https://www.sanimabank.com/_next/image?url=https%3A%2F%2Fcms.sanimabank.com%2Fframework%2Fuploads%2Fimages%2FMiscellaneous%2Flogo_bank%20(1).png&w=1920&q=75" alt="Sanima Bank Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item ms-3">
                        <a class="nav-link btn admin-logout" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item ms-3">
                        <a class="nav-link btn admin-login" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Admin Login</a>
                    </li>
                {% endif %}
                <li class="nav-item ms-3">
                    <a class="nav-link btn admin-login" href="{% url 'ocr_upload' %}">Try OCR</a>
                </li>
            </ul>
        </div>        
    </div>
</nav>