{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Sanima Compress Admin</title>
        <meta charset="UTF-8">
        <meta name="author" content="Shekhar Dhakal">
        <meta name="system-version" content="v1.0.0">
        <meta name="keywords" content="NMS, Network, System">
        <meta name="description" content="NMS is a web application dedicated to network automation, offering users access to routes and switched.">
        <link rel="icon" type="image/x-icon" href="{% static 'dashboard/images/sanima-favicon.svg' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/css/fileinput.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/css/toastr.min.css' %}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{% static 'dashboard/css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/css/flatpickr.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/css/select2.min.css' %}">
        <script src="{% static 'dashboard/js/jquery-3.7.1.min.js' %}" ></script>
        <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.1.8/af-2.7.0/b-3.2.0/b-colvis-3.2.0/b-html5-3.2.0/b-print-3.2.0/cr-2.0.4/date-1.5.4/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.1/sp-2.3.3/sl-2.1.0/sr-1.4.1/datatables.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.1.8/af-2.7.0/b-3.2.0/b-colvis-3.2.0/b-html5-3.2.0/b-print-3.2.0/cr-2.0.4/date-1.5.4/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.1/sp-2.3.3/sl-2.1.0/sr-1.4.1/datatables.min.js"></script>
        <script src="{% static 'dashboard/js/flatpickr.js' %}" ></script>
        

    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
            <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>
            <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="{% url 'dashboard' %}"><img class="img-fluid w-75 h-25" src="{% static 'dashboard/images/sanima-logo.svg' %}" alt="Logo"></a>
            <form class="form-inline me-auto d-none d-lg-block me-3">
                <div class="input-group input-group-joined input-group-solid">
                    <input class="form-control pe-0" type="search" placeholder="Search" aria-label="Search" />
                    <div class="input-group-text"><i data-feather="search"></i></div>
                </div>
            </form>
            <ul class="navbar-nav align-items-center ms-auto">
                <li class="nav-item dropdown no-caret me-3 d-lg-none">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="searchDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="search"></i></a>
                    <div class="dropdown-menu dropdown-menu-end p-3 shadow animated--fade-in-up" aria-labelledby="searchDropdown">
                        <form class="form-inline me-auto w-100">
                            <div class="input-group input-group-joined input-group-solid">
                                <input class="form-control pe-0" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                                <div class="input-group-text"><i data-feather="search"></i></div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="{% if request.user.profile_image and request.user.profile_image.url %}{{ request.user.profile_image.url }}{% else %}{{ request.session.profile_image }}{% endif %}" alt="Profile Image" /></a>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <img class="dropdown-user-img" src="{% if request.user.profile_image and request.user.profile_image.url %}{{ request.user.profile_image.url }}{% else %}{{ request.session.profile_image }}{% endif %}" alt="Profile Image">
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">{% if request.user.full_name %}{{ request.user.full_name }}{% else %}{{ request.session.full_name }}{% endif %}</div>
                                <div class="dropdown-user-details-email"><a href="cdn-cgi/l/email-protection.html" class="sm" >{% if request.user.email %}{{ request.user.email }}{% else %}{{ request.session.email }}{% endif %}</a></div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            Account
                        </a>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                            Logout
                        </a>                                        
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <div class="sidenav-menu-heading d-sm-none">Account</div>
                            <a class="nav-link d-sm-none" href="#">
                                <div class="nav-link-icon"><i data-feather="bell"></i></div>
                                Alerts
                                <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
                            </a>
                            <a class="nav-link d-sm-none" href="#">
                                <div class="nav-link-icon"><i data-feather="mail"></i></div>
                                Messages
                                <span class="badge bg-success-soft text-success ms-auto">2 New!</span>
                            </a>



                            <div class="sidenav-menu-heading"><h5>NMS</h5></div>

                            <a class="nav-link"  href="{% url "dashboard" %}">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                DASHBOARD
                            </a>
                            {% comment %} ROUTER SWITCH MANAGE MENU {% endcomment %}
                            {% if perms.core.add_device or perms.core.change_device or perms.core.view_device %}
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseDashboards1" aria-expanded="false" aria-controls="collapseDashboards">
                                <div class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-router-fill" viewBox="0 0 16 16">
                                    <path d="M5.525 3.025a3.5 3.5 0 0 1 4.95 0 .5.5 0 1 0 .707-.707 4.5 4.5 0 0 0-6.364 0 .5.5 0 0 0 .707.707"/>
                                    <path d="M6.94 4.44a1.5 1.5 0 0 1 2.12 0 .5.5 0 0 0 .708-.708 2.5 2.5 0 0 0-3.536 0 .5.5 0 0 0 .707.707Z"/>
                                    <path d="M2.974 2.342a.5.5 0 1 0-.948.316L3.806 8H1.5A1.5 1.5 0 0 0 0 9.5v2A1.5 1.5 0 0 0 1.5 13H2a.5.5 0 0 0 .5.5h2A.5.5 0 0 0 5 13h6a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5h.5a1.5 1.5 0 0 0 1.5-1.5v-2A1.5 1.5 0 0 0 14.5 8h-2.306l1.78-5.342a.5.5 0 1 0-.948-.316L11.14 8H4.86zM2.5 11a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m4.5-.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0m2.5.5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m1.5-.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0m2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0"/>
                                    <path d="M8.5 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                                  </svg></div>
                                Devices
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseDashboards1" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                    {% if perms.core.add_device %}
                                        <a class="nav-link" href="{">Manage Device</a>
                                    {% endif %}
                                    {% if perms.core.backup_device %}
                                        <a class="nav-link" href="">All Device Backup</a>
                                        <a class="nav-link" href="">View Device Backup Log</a>
                                    {% endif %}
                                </nav>
                            </div>
                            {% endif %}
                            {% comment %} ROUTER SWITCH MANAGE MENU {% endcomment %}
                        
                        </div>
                    </div>
                    <div class="sidenav-footer">
                        <div class="sidenav-footer-content">
                            <div class="sidenav-footer-subtitle">Logged in as:</div>
                            <div class="sidenav-footer-title" style="font-size: 15px;">
                                {{ request.user.username }}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                {% block main %}

                {% endblock main %}
                <footer class="footer-admin mt-auto footer-light shadow">
                    <div class="container-xl px-4">
                        <div class="row">
                            <div class="col-md-6 small">Copyright 2024 Sanima Bank Ltd. All Rights Reserved.</div>
                            <div class="col-md-6 text-md-end small">
                                <a href="#">Privacy Policy</a>
                                ·
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirm Logout</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to log out?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
        <div id="spinner" style="display: none;">
            <img src="{% static 'dashboard/images/loader.gif' %}" alt="Loading..." />
        </div>
        <style>
        #spinner {
            position: fixed; 
            top: 0;
            left: 0;
            width: 100vw; 
            height: 100vh; 
            background-color: rgba(0, 0, 0, 0.5); 
            display: flex;
            justify-content: center; 
            align-items: center; 
            z-index: 9999; 
        }
        #spinner img {
            max-width: 100px; 
            max-height: 100px; 
        }
        .select2-selection__rendered {
            line-height: 49px !important;
        }
        .select2-container .select2-selection--single {
            height: 49px !important;
        }
        .select2-container .select2-selection--multiple {
            height: 100% !important;
        }
        .select2-selection__arrow {
            height: 49px !important;
        }
        
        </style>

        <style>
            a{
                font-size: 12px !important;
            }
        </style>
        <script src="{% static 'dashboard/js/sb-customizer.js' %}" ></script>
        <script src="{% static 'dashboard/js/bootstraps.bundle.min.js' %}" ></script>
        <script src="{% static 'dashboard/js/scripts.js' %}" ></script>
        <script src="{% static 'dashboard/js/all.min.js' %}" ></script>
        <script src="{% static 'dashboard/js/feather.min.js' %}" ></script>
        

        <script>
            (function($) {
                $(document).ready(function() {
                    function updateDateTime() {
                    const currentDateTime = new Date();
                
                    const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                    const currentDay = daysOfWeek[currentDateTime.getDay()];
                
                    const options = { year: "numeric", month: "long", day: "numeric" };
                    const currentDate = currentDateTime.toLocaleDateString("en-US", options);
                
                    const currentTime = currentDateTime.toLocaleTimeString("en-US", { hour: "2-digit", minute: "2-digit" });
                
                    $("#current-day").text(currentDay);
                    $("#current-date").text(currentDate);
                    $("#current-time").text(currentTime);
                    }
                
                    updateDateTime();
                
                    setInterval(updateDateTime, 10000);
                });
            })(jQuery);
            
        </script>
        <script src="{% static 'dashboard/js/select2.min.js' %}" ></script>
        <script src="{% static 'dashboard/js/fileinput.min.js' %}" ></script>
        <script>
            (function($) {
                $(document).ready(function() {
                    $('.form-select').select2({
                        placeholder: "Select an option",
                    });
                });
                $("#input-id").fileinput({
                    showUpload: false,
                    showPreview: false,
                    elErrorContainer: '#kartik-file-errors',
                    allowedFileExtensions: ["xlsx", "xls", "jpg", "png","jpeg"],
                    maxFileSize: 100000
                });
            })(jQuery);
        </script>
        <script src="{% static 'dashboard/js/toastr.min.js' %}" ></script>
        <script src="{% static 'dashboard/js/popper.min.js' %}" ></script>
        <script>
        
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
          }
        {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success' %}
                toastr["success"]("{{ message }}", "NMS");
            {% elif message.tags == 'error' %}
                toastr["error"]("{{ message }}", "NMS");
            {% elif message.tags == 'info' %}
                toastr["info"]("{{ message }}", "NMS");
            {% elif message.tags == 'warning' %}
                toastr["warning"]("{{ message }}", "NMS");
            {% endif %}
            {% endfor %}
        {% endif %}
        </script>
    </body>
</html>
