{% extends "core/dashboard/base.html" %} 
{% load static %}
{% block main %}
<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            ADD BANDWIDTH INCREASE RECORDS
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-xl px-4 mt-n10">
        <div class="row">
            <div class="col-lg-12">
                <!-- Default Bootstrap Form Controls-->
                <div id="default">
                    <div class="card mb-4">
                        <div class="card-header">Create Records</div>
                        <div class="card-body">
                            <!-- Component Preview-->
                            <div class="sbp-preview">
                                <div class="sbp-preview-content">
                                    <form action="{% url "bandwidth_monitoring_add" %}" method="POST" id="myForm">
                                         {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-4 mb-4">
                                                <label class="form-label">Branch<b class="text-danger"> *</b></label>
                                                <select class="form-select {% if form.branch.errors %}is-invalid{% endif %}" id="branch" name="branch">
                                                    <option value="">Select Branch</option>
                                                    {% for branch in branch_choices %}
                                                        <option value="{{ branch.branch_id }}" {% if form.cleaned_data.branch_id == branch.branch_id %}selected{% endif %}>{{ branch.branch_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                {% if form.branch.errors %}
                                                    <span class="text-danger">
                                                        {% for error in form.branch.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </span>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-8 mb-4">
                                                <label class="form-label">Remarks<b class="text-danger"> *</b></label>
                                                <input class="form-control {% if form.remarks.errors %}is-invalid{% endif %}" type="text"  id="remarks" name="remarks" value="{{ form.cleaned_data.remarks }}" />
                                                {% if form.remarks.errors %}
                                                    <span class="text-danger">
                                                        {% for error in form.remarks.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </span>
                                                {% endif %}
                                            </div>
                                        </div>                                        
                                        <div class="form-group text-center">
                                            <hr class="sidebar-divider">
                                            <button class="btn btn-secondary"  id="submitButton" type="button">Submit</button>
                                            <a href="{% url "bandwidth_monitoring_add" %}" class="btn btn-danger submit_anchor">Reset</a>
                                            <a href="{% url "bandwidth_monitoring" %}" class="btn btn-secondary submit_anchor">Back</a>
                                            <hr class="sidebar-divider">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Submission</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to process this request?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmButton">Confirm</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#submitButton').on('click', function(event) {
            event.preventDefault(); 
            $('#confirmationModal').modal('show'); 
        });

        $('#confirmButton').on('click', function() {
            $('#myForm').submit(); 
            $('#confirmationModal').modal('hide'); 
        });
    });
</script>
{% endblock main %}